.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

// .header-container {
//   // display: flex;
//   // align-items: center;
// }

.mobile-nav {
  position: fixed;
  top: 0;
  background-color: var(--white-color);
  width: 100vw;
  height: 100vh;
  z-index: 2;

  .container {
    position: relative;
    // padding-top: 40px;
    // padding-bottom: 40px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .menu-close {
    position: absolute;
    top: 25px;
    right: 21px;
  }
}

// .mobile-menu {
// }

.mobile-menu__item {
  margin-bottom: 36px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  // text-align: center;
  letter-spacing: 0.02em;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: #757575;
}

.mobile-network {
  display: flex;
}

.mobile-nav__bottom {
}
// .menu-button {
//   display: inline-block;
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: transparent;
// }
