:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --hero-color: #2f303a;
  --black-color: #000000;
  --hover-button-color: #188ce8;
  --portfolio-button-color: #f5f4fa;
  --card-border-color: #eeeeee;
  --social-icons: rgba(175, 177, 184, 1);
  --theme-footer-icon: rgba(255, 255, 255, 0.1);
  --logo-font: "Raleway", "Arial", "Helvetica", sans-serif;
  --main-font: "Roboto", "Arial", "Helvetica", sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
